/* GENERAL STYLINGS*/

body {	
	background: url("../images/gaming-pattern.png");
}

/* HEADER STYLINGS */

.headerWrapper {
	margin: 0 auto;
	background-color: #ffffff;
	padding: 15px;
		width: 100%;
}

#header { 
  margin: 0 auto;
	max-width: 475px;
	background-color: #4aaaa5;
	padding: 20px;
	color: #fff;
 }

 /* GAME SECTION STYLINGS */

 #gameSectionContainer {
	margin: 10px auto;
	width: 100%;
	background-color: #ffffff;
  border: 5px solid #4aaaa5;
   padding: 20px;
 }

/* #game-wrapper{
  
  border: 3px solid #5E7F7E; 
} */


.gameSection {
  margin: 0 auto;
  
}

.cta {
  
  padding: 15px;
}

.button-style {
  background-color: #4aaaa5;
  border: 1px solid #5E7F7E;
  
}

.button-style:hover {
  
  background-color: #5E7F7E;
}


/*********
QUESTION/ANSWER PAGE & PRESS START PAGE
**********/
  .page-one,.page-two,.page-three,.answer-page {
  
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.page-two {
  
 font-size: 1.2em;
}

#question{

  margin: 20px 0;
  
}


.answer:hover {
  background-color:  #4aaaa5;
  color: #ffffff;
  
}


/*************
RIGHT/WRONG PAGE
**************/
 .answer-page {
   margin: 10px 0;
   padding: 0;
 }

.result, p, span {
  text-align: center;
}


.image img {
  margin: 0 auto;
  max-width: 350px;
}


/*************
RESULTS PAGE
**************/

.page-three {
  font-size: 1.2em;
}
